[submodule "vote/contracts/lib/forge-std"]
	path = vote/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "vote/contracts/lib/openzeppelin-contracts"]
	path = vote/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
